<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Avatar</th>
    </tr>
  </thead>
  <tbody>
    <% User.all.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><img src="<%= user.avatar_url %>" alt="avatar" height="104" width="104"></td>
      </tr>
    <% end %>
  </tbody>
</table>